#signinform{
	display: block;
	text-align: center;
}
form{
	display: inline-block;
	position: relative;
	margin-top:100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	text-align: left;
}
	
h1
{
	color: white;
	font-style: sans-serif;
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
	font-size: 40px;

}
form label{
	color: white;
	font-size: 20px;
}
.custom-control-label{
	font-size: 13px;
	margin-left: 10px;
}
#submitbutton{
	text-decoration: none;
	color: white;
}
